<!DOCTYPE html>
<html xmlns="http:www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	
	
	<table class="table table-striped"> 
		<thead>
			<tr>			
				<th> First Name</th>
				<th> Last Name</th>
				<th> Email</th>
				
			</tr>
		</thead>
	<tbody> 
		<tr th:each="Student:${students}">
			<td th:text="${students.firstName}"></td>
			<td th:text="${students.lastName}"></td>
			<td th:text="${students.email}"></td>
			
		</tr>
	</tbody>
	</table>
</body>		
</html>